.inputWrapper {
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #cbd5e1;
  background-color: #E3E3E3;
  border-radius: 0.5rem;
  overflow: hidden;
}

.input {
  display: block;
  width: 100%;
  background-color: transparent;
  line-height: 1.2;
  padding: 0 1rem;
  height: 100%;
}

.inputLabel {
  color: #6F6F6F;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 1rem;
  left: 0;
  top: 18px;
  transition: all 200ms linear;
}

.input:focus {
  outline: none;
  padding-top: 20px;
}

.input:focus + .inputLabel {
  top: 8px;
  font-size: 14px;
}

.hasValue .input {
  padding-top: 20px;
}

.hasValue .inputLabel {
  top: 8px;
  font-size: 14px;
}
